@use '../../styles/variables' as *;
.photo{
    background-color: $secondary-color;
    padding: .75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    &__list{
        
        display: flex;
        flex-direction: column;
        width: 35%;
    }
    &--left{
        @extend .photo;
        transform: rotate(-15deg);
    }
    &--right{
        @extend .photo;
        transform: rotate(15deg);
        margin-left: auto;
        margin-top: -3rem;
    }
   
    
    &__text{
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }
}