@use "../../../styles/variables" as *;

.button {
  height: 2.5rem;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  font-size: medium;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
}
  &__signup {
    @extend .button;
    background-color: #f7eed3;
    color: #674636;
    &--reverse{
      @extend .button;
      color: #f7eed3;
      background-color: #674636;
      border: 0.05rem solid #f7eed3;
    }
  }
  &__login {
    @extend .button;
    color: #f7eed3;
    background-color: #674636;
    border: 0.05rem solid #f7eed3;
    &--reverse{
      @extend .button;
      color: #f7eed3;
      background-color: #674636;
      border: 0.05rem solid #f7eed3;
    }
  }
  &__logout {
    @extend .button;
    background-color: #f7eed3;
    color: #674636;
    
  }
  &__google-signup{
    @extend .button;
    display: flex;
    align-items: center;
    gap:6rem;
    color: $primary-color;
    background-color: $accent-color;
    border: .05rem $primary-color solid
    
  }
  &__cta-book{
    @extend .button;
      color: #f7eed3;
      background-color: #674636;
      border: 0.05rem solid #f7eed3;
      width: 10rem;
  }
  &__select, &__select-time{
    @extend .button__cta-book;
  }
  &__home{
    @extend .button__cta-book;
    width: 12rem;
  }
  &__cancel{
    @extend .button__cta-book;
    background-color: #C94B46;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.buttons{
  display: flex;
  gap:1rem
}