.button {
  height: 2.5rem;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  font-size: medium;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
}
  &__signup {
    @extend .button;
    background-color: #f7eed3;
    color: #674636;
  }
  &__login {
    @extend .button;
    color: #f7eed3;
    background-color: #674636;
    border: 0.05rem solid #f7eed3;
  }
}
.buttons{
  display: flex;
  gap:1rem
}