@use '../../styles/variables' as *;

.modal{
    background: rgba(0, 0, 0, 0.70);
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    &__heading{
        color: $primary-color;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
}
.content{
    width: 45rem;
    position: relative;
}
.paragraph{
    width: 20rem;
    margin-bottom: 6rem;
}
.content{
    background-color: $secondary-color;
    max-width: 50rem;
    margin: 0 auto;
    border-radius: 0.625rem;
    padding: 1rem 2rem 1rem;
}
.image{
    position: absolute;
    right:4rem;
    top:1rem
}